################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seccion02
/SistemaAsistencias/.vs/SistemaAsistencias/v16
/SistemaAsistencias/bin/Debug
/SistemaAsistencias/obj/Debug
